.card_base {
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  border: 1px solid var(--border-color);
  background: var(--card-body-bgcolor);

  .card_base_header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background: var(--card-header-bgcolor);
    border-bottom: 1px solid var(--border-color);

    @include media-up(lg) {
      padding: 16px 24px;
    }

    .card_base_header_title {
      color: var(--text);
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
    }
  }
  .card_base_content {
    width: 100%;
    padding: 12px;

    @include media-up(lg) {
      padding: 16px 24px;
    }
  }
}
