@import 'assets/css/variables.scss';

.overview_info {
    border-radius: 12px;
    margin-bottom: 32px;
    overflow: hidden;
    background: var(--card-body-bgcolor);
    border: 1px solid var(--border-color);
    position: relative;

    &_title {
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--card-header-bgcolor);
        border-bottom: 1px solid var(--border-color);

        @include media-down(sm) {
            padding: 10px 12px;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 31px;
            @include media-down(sm) {
                font-size: 18px;
            }
        }
    }
    // p {
    //     margin-top: 16px;
    //     margin-left: 24px;
    //     margin-bottom: 24px;
    //     font-size: 16px;
    //     // line-height: 20.75px;
    // }

    .card_overview_body {
        padding: 24px;
        @include media-down(sm) {
            padding: 10px;
        }
    }
    .topHead_status {
        width: 100%;
        padding: 16px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.success {
            color: #006957;
            background-color: #ccf4ed;
            border-color: #b8f0e6;
        }
        &.error {
            color: #73231d;
            background-color: #f8dad7;
            border-color: #f6cbc7;
        }
    }
}
