.send-mail-wrapper .send-mail-form {
  margin-bottom: 20px;
}

.send-mail-wrapper h2 {
  margin-bottom: 20px;
}

.ant-card-head-title {
  font-weight: 700;
  font-size: 18px;
}

.ant-card-head {
  background-color: #e9e9e9;
}