@import 'assets/css/variables.scss';

.nav-admin {
  width: 100%;

  .nav-content {
    display: flex;
    flex-direction: column;

    .nav-top {
      width: 100%;
      background: #262525;

      .nav-top-content {
        padding: 0 30px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-down(md) {
          height: 72px;
        }
      }

      .nav-top-left {
        flex-direction: row;
        flex-flow: nowrap;
        display: flex;
        align-items: center;

        .menu-collapse {
          display: none;

          @include media-down(lg) {
            display: block;
            margin-right: 15px;
          }
        }

        .nav-logo {
          margin-right: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          cursor: pointer;

          img {
            width: auto;
            height: 45px;
            object-fit: contain;

            @include media-down(md) {
              height: 32px;
            }
          }
        }
      }

      .nav-top-right {
        color: var(--primary);
        width: 100%;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-end;

        @include media-down(sm) {
          width: fit-content;
        }

        .menu-collapse {
          display: block;

          @include media-up(md) {
            display: none;
          }
        }

        .nav-link {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          @include media-down(sm) {
            display: none;
          }

          ul.nav-ul {
            list-style: none;
            margin-bottom: 0;

            @include media-up(md) {
              list-style: none;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: flex-end;
            }

            li {
              white-space: nowrap;
              height: 100%;
              padding: 14px;
              display: block;

              a {
                color: var(--tertiary);
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                height: 100%;
                display: flex;
                align-items: center;

                .user-icon {
                  transform: rotate(0deg);
                }

                > span {
                  font-size: 18px;
                  margin-left: 9px;
                }

                &.right-destop-logo {
                  width: 28px;
                  height: 28px;
                  background: var(--background-color-padding);
                  border-color: transparent;
                  border-radius: 4px;
                }

                span {
                  svg {
                    width: 10px;
                    height: 10px;
                    fill: var(--tertiary);
                  }
                }
              }

              a:hover {
                color: var(--header-active-color);
                font-weight: 400;

                svg {
                  fill: var(--header-active-color);
                }
              }

              .active {
                color: var(--header-active-color);
              }

              .submenu {
                display: none;
                position: absolute;
                padding: 29px 0 16px;
                min-width: 160px;
                z-index: 10;

                ul {
                  display: flex;
                  flex-direction: column;
                  background-color: var(--white);
                  border-bottom-right-radius: 4px;
                  border-bottom-left-radius: 4px;
                  border-top: 3px solid var(--header-active-color);
                  box-shadow: 0 8px 20px rgb(130 71 229 / 8%);

                  li {
                    width: 100%;

                    &.dropdown-divider {
                      padding: 0;
                    }

                    a {
                      color: var(--text);

                      &:hover {
                        color: var(--header-active-color);
                      }
                    }
                  }
                }
              }
            }

            & > li:hover {
              .submenu {
                display: block;
              }
            }

            .li-last_child {
              padding-right: 0;
              position: relative;
            }
          }

          .nav-account {
            margin-left: 14px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .username {
              margin-right: 8px;

              a {
                color: var(--header-color);
                white-space: nowrap;
              }
            }

            .avatar {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;

              svg {
                fill: var(--tertiary);
              }
            }
          }
        }
      }
    }
  }
}

.layout-body {
  min-height: calc(100vh - 80px);
  .layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .ant-layout {
      min-height: calc(100vh - 200px);
    }
    .ant-layout-footer {
      padding: 12px;
      display: flex;
      justify-content: center;
      span {
        color: #797979;
      }
    }
  }
}

.sidebar-admin {
  padding-top: 30px;
  background-color: rgb(45, 52, 70);
  color: #ffffff;
  min-height: calc(100vh - 80px);

  @include media-down(lg) {
    position: fixed;
    top: 80px;
    left: -200px;
    transition: all 0.3s;
    z-index: 999;

    &.show-sidebar {
      left: 0;
    }
  }

  @include media-down(md) {
    top: 72px;
  }

  ul.ant-menu {
    background-color: rgb(45, 52, 70);

    .ant-menu-item {
      background-color: rgb(45, 52, 70);
      color: rgb(120, 129, 149);
      width: 100%;
    }
    .ant-menu-item a,
    .ant-menu-submenu-title,
    .ant-menu-submenu-arrow {
      color: rgb(120, 129, 149);
    }
    .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
    .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
      color: var(--white);
    }
    .ant-menu-item:hover,
    .ant-menu-item-selected,
    .ant-menu-submenu-active,
    .ant-menu-submenu-active:active {
      background-color: rgba(0, 0, 0, 0.4);
      color: var(--white);

      a {
        color: var(--white);
      }

      &::after {
        border-color: var(--primary);
      }
    }
  }
}
