@import 'assets/css/variables.scss';
@import './components/Transactions/style.scss';
@import './components/TransactionsInternal/style.scss';
@import './components/TransactionsErc20Token/style.scss';
@import './components/Analytics/style.scss';

.address_container {
  padding-bottom: 128px;
  min-height: calc(100vh - 211px - $MENU-HEIGHT);
  overflow: hidden;

  .address-detail-space {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    b {
      font-size: 14px;
      color: $text;
    }

    a {
      color: var(--primary);
      font-weight: bold;
      margin: 0 4px;
    }

    .transaction-space-text {
      color: $black-color;
      font-weight: normal;
      margin-right: 4px;
    }
  }

  .main-top {
    padding: 0 0 20px;
  }

  .main-center {
    .ads-img {
      width: 100%;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;

      img {
        max-height: 80px;
        object-fit: cover;
        @include media-up(md) {
          // width: 88%;
        }
      }
    }
  }

  .main-table {
    margin-bottom: 16px;
  }

  .main-footer {
    display: flex;
    align-items: flex-start;
    & > svg {
      width: 16px;
      margin-right: 8px;
    }

    p {
      color: #3c3a3a;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

// .overview-token {
//   width: fit-content !important;

//   .ant-dropdown-menu-item {
//     border: none !important;

//     .ant-table-thead {
//       .ant-table-column-sorters {
//         display: flex;
//         padding: 4px 16px;
//         color: $black-color;
//         font-size: 12px;
//         justify-content: space-between;
//         background-color: rgba(231, 234, 243, 0.5);
//       }
//     }

//     .ant-table-cell {
//       padding: 4px 8px;

//       img {
//         width: 12px;
//         height: 12px;
//         margin-right: 4px;
//       }

//       span {
//         font-size: 12px;
//       }
//     }

//     .ant-table-cell-content {
//       padding: 0 10px;
//       display: flex;
//       justify-content: space-between;
//       div:first-child {
//         text-align: left;
//       }
//       div:last-child {
//         text-align: right;
//       }
//       img {
//         width: 12px;
//         height: 12px;
//         border-radius: 50%;
//         margin-right: 4px;
//       }

//       &:hover {
//         color: $secondary;
//         background-color: var(--primary);
//         border-radius: 0.25rem;

//         .detailt-token-table {
//           color: $secondary;
//         }
//       }
//     }

//     span {
//       // display: inline-block;
//     }

//     .ant-table {
//       padding: 0;
//     }

//     .detailt-token-table {
//       color: $text;
//       display: block;
//     }

//     .ant-table-pagination-right {
//       display: none;
//     }
//   }
// }

// .modal-search-event {
//   padding: 10px;
//   background: $secondary;
//   border-radius: 4px;
// }

// .ant-modal {
//   width: 318px !important;
//   height: 318px;
//   border-radius: 4px;

//   .ant-modal-content {
//     .ant-modal-close {
//       width: 40px;
//       height: 40px;

//       span {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     .ant-modal-header {
//       .ant-modal-title {
//         font-size: 11px;
//       }
//     }

//     .ant-modal-body {
//       text-align: center;
//       padding: 16px;
//     }

//     .ant-modal-footer {
//       display: none;
//     }
//   }
// }
