/* Pagination */
.base_pagination {
  display: flex;
  width: 100%;
}
.base_pagination .base_pagination_show-record {
  width: 210px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}
.base_pagination .base_pagination_show-record span.base_pagination_show {
  margin-right: 24px;
}
.base_pagination .base_pagination_show-record span.base_pagination_records {
  margin-left: 24px;
}
.base_pagination .base_pagination_show-record .ant-select-single .ant-select-selector {
  border-color: var(--tertiary);
  height: 26px;
}
.base_pagination .base_pagination_show-record .ant-select-single .ant-select-selection-item {
  line-height: 24px;
}
.base_pagination .base_pagination_pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.base_pagination .base_pagination_pagination .base_pagination_total {
  margin-right: 6px;
  white-space: nowrap;
}
.base_pagination .base_pagination_pagination.base_pagination_have-show-records {
  width: calc(100% - 210px);
}
.base_pagination .base_pagination_pagination .item {
  background-color: #eeeeee;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  padding: 4px 10px;
  white-space: nowrap;
}
.base_pagination .base_pagination_pagination .base_pagination_first {
  width: 46px;
  cursor: pointer;
}
.base_pagination .base_pagination_pagination .base_pagination_previous {
  width: 26px;
  margin: 0 8px;
  cursor: pointer;
}
.base_pagination .base_pagination_pagination .base_pagination_number {
  width: auto;
}
.base_pagination .base_pagination_pagination .base_pagination_next {
  width: 26px;
  margin: 0 8px;
  cursor: pointer;
}
.base_pagination .base_pagination_pagination .base_pagination_last {
  width: 46px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .base_pagination {
    flex-direction: column;
    gap: 12px;
  }
  .base_pagination .base_pagination_show-record {
    text-align: center;
  }
  .base_pagination .base_pagination_pagination {
    justify-content: left;
  }
  .base_pagination .base_pagination_pagination.base_pagination_have-show-records {
    width: 100%;
  }
}

/* Table Blocks */
.blocks-wrapper {
  width: 100%;
  min-height: calc(100vh - 150px - (var(--menu-height)));
  padding-bottom: 55px;
  background: var(--background-wrapper);
  position: relative;
}
@media screen and (max-width: 991px) {
  .blocks-wrapper {
    padding-bottom: 40px;
  }
}
.blocks-wrapper .blocks-heading {
  padding: 16px 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 16px;
}
.blocks-wrapper .blocks-heading h1 {
  color: var(--text);
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.blocks-wrapper .blocks-heading div .heading-network {
  color: var(--black-color);
  padding: 4px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: var(--background-span);
  border-radius: 4px;
  margin-right: 24px;
  flex-wrap: wrap;
}
.blocks-wrapper .blocks-heading div a {
  color: var(--black-color);
  padding: 4px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: var(--background-span);
  border-radius: 4px;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .blocks-wrapper .blocks-heading {
    display: block;
  }
  .blocks-wrapper .blocks-heading div .heading-network, .blocks-wrapper .blocks-heading div a {
    display: block;
    margin: 0 0 5px;
  }
}
.blocks-wrapper .ads-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
}
.blocks-wrapper .blocks-bottom {
  max-width: 100%;
  background: var(--white);
  background-clip: border-box;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
}
.blocks-wrapper .blocks-bottom .blocks-card {
  padding: 20px;
}
@media screen and (max-width: 1200px) {
  .blocks-wrapper .blocks-bottom .blocks-card {
    padding: 10px;
  }
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-header {
  margin-bottom: 20px;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-header p {
  font-size: 14px;
  color: var(--text);
  line-height: 26px;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-thead .ant-table-cell {
  padding: 16px 10px;
  border-bottom: 1px solid var(--border-color);
  white-space: nowrap;
  background-color: var(--table-header-bgcolor);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-thead .ant-table-cell::before {
  display: none;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .ant-table-cell {
  padding: 16px 10px;
  border-bottom: 1px solid var(--border-color);
  vertical-align: text-bottom;
  white-space: nowrap;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-block {
  color: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-txn {
  width: 50px;
  color: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-validator {
  color: var(--primary);
  max-width: 171px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-gasUse .gas-process {
  width: 100%;
  height: 4px;
  background-color: var(--tertiary);
  border-radius: 4px;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-gasUse .gas-process > div {
  width: 100%;
  height: 4px;
  background-color: var(--text);
  border-radius: 4px;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-burntfees .data-burntfees-span {
  font-size: 11px;
  color: var(--text);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-burntfees .ant-progress-line .ant-progress-bg {
  height: 2px !important;
  background-color: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-tbody .data-burntfees .ant-progress-line .ant-progress-text {
  display: none;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-pagination-right {
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-table-pagination-right {
    justify-content: flex-end;
  }
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item:not(.ant-pagination-item-active), .blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item-link {
  border: none;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item a {
  color: var(--text);
  background: var(--background-color-padding);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item:hover {
  background: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item:hover a {
  color: var(--white);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item-active {
  background: var(--primary);
  border-color: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item-active a {
  color: #fff;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item-link {
  background: var(--background-color-padding);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-item-link .ant-pagination-item-container .ant-pagination-item-link-icon path {
  fill: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-prev:hover {
  border: none;
  background: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-prev:hover .ant-pagination-item-link {
  color: var(--white);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-next:hover {
  border: none;
  background: var(--primary);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-next:hover .ant-pagination-item-link {
  color: var(--white);
  border: none;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options-size-changer .ant-select-selector {
  border: none;
  background: var(--background-color-padding);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options-size-changer .ant-select-selector:hover {
  background-color: var(--primary);
  color: var(--white);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options-size-changer:hover path {
  fill: var(--white);
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options-size-changer:focus {
  border: none;
}
.blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options .ant-pagination-options-quick-jumper input:hover, .blocks-wrapper .blocks-bottom .blocks-card .card-body-center .ant-pagination-options .ant-pagination-options-quick-jumper input:focus {
  box-shadow: unset;
  border-color: var(--primary);
}
.blocks-wrapper .block-container-heading {
  padding: 12px 15px;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (min-width: 991px) {
  .blocks-wrapper .block-container-heading {
    padding: 12px 45px;
  }
}
@media screen and (min-width: 991px) {
  .blocks-wrapper .block-container-heading {
    padding: 12px 45px;
  }
}
.blocks-wrapper .block-container-heading h1 {
  margin: 0;
  font-size: 21px;
  color: var(--text-header);
}
.blocks-wrapper .block-container-heading h1 span {
  font-size: 16.8px;
  color: var(--text-span);
}
.blocks-wrapper .block-container-bottom {
  padding: 0 0px 52px;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (min-width: 991px) {
  .blocks-wrapper .block-container-bottom {
    padding: 0 45px 52px;
  }
}
@media screen and (max-width: 1366px) {
  .blocks-wrapper .block-container-bottom {
    padding: 0 15px 52px;
  }
}
.blocks-wrapper .block-container-bottom .block-card {
  box-shadow: var(--color-shadow);
  word-wrap: break-word;
}
@media screen and (min-width: 1366px) {
  .blocks-wrapper .block-container-bottom .block-card {
    padding: 0 15px;
  }
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item {
  font-weight: 700;
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item:hover {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item:hover::after {
  border-bottom: 2px solid var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item .overview {
  font-weight: 700;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item a {
  font-weight: 700;
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item a:hover {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item-selected {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item-selected::after {
  border-bottom: 2px solid var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item-selected a {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .block-card-header .ant-menu-horizontal .ant-menu-item-selected a:hover {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .card-content {
  padding: 0 14px 14px;
  background: var(--secondary);
  border-radius: 8px;
  box-shadow: 0 0.5rem 1.2rem var(--color-shadow);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item {
  transition: all ease 1s;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row {
  display: flex;
  flex-wrap: wrap;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-6 {
  color: var(--black-color);
  height: 30px;
  font-weight: 600;
}
@media screen and (min-width: 991px) {
  .blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-6 {
    font-weight: 400;
  }
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-6 .ant-space {
  color: var(--text);
  margin-right: 4px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-hash {
  padding: 4px;
  color: var(--black-color);
  font-weight: 600;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-leftRight {
  background: var(--background-item);
  border-color: transparent;
  margin-right: 4px;
  border-radius: 4px;
  padding: 4px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-leftRight:hover {
  background: var(--background-item-hover);
  box-shadow: 0 4px 11px rgba(52, 152, 219, 0.35);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-leftRight:hover svg path {
  fill: var(--white);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-leftRight span {
  width: 16px;
  height: 21px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-leftRight span svg path {
  fill: var(--background-item-hover);
  font-weight: 900;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-clock {
  font-weight: 400;
  color: var(--black-color);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .item-clock-icons {
  background: none;
  color: var(--text);
  font-weight: 200;
  margin-right: 4px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .transaction-link {
  padding: 4.8px 8px;
  margin: 4px 0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  color: var(--primary);
  background: var(--background-color-padding);
  transition: 0.2s ease-in-out;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .transaction-text {
  color: var(--black-color);
  margin: 0 4px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .validated-link {
  background: none;
  color: var(--primary);
  margin: 0 4px;
  word-wrap: break-word;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .reward-text {
  color: var(--black-color);
  font-size: 14px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .reward-text-right {
  display: flex;
  align-items: center;
  color: var(--green);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 .parent-hash-text {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 textarea {
  margin-top: 4px;
  width: 100%;
  height: 149px;
  padding: 12px;
  color: var(--text);
  border-radius: 4px;
  box-shadow: var(--color-shadow);
  line-height: 1.8;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item .ant-row .ant-col-md-18 textarea:focus {
  border-color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .card-content-item_show {
  transition: all ease 1s;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .collapse-click {
  color: var(--primary);
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-show .collapse-click span {
  margin: 16px 4px;
}
.blocks-wrapper .block-container-bottom .block-card .card-content .card-content-comment {
  color: var(--black-color);
  padding: 12px;
  font-size: 14px;
}
.blocks-wrapper .card-body-footer {
  margin-top: 20px;
}
